In [5]:
import pandas as pd
import pymysql

timeout = 10
connection = pymysql.connect(
  charset="utf8mb4",
  connect_timeout=timeout,
  cursorclass=pymysql.cursors.DictCursor,
  db="defaultdb",
  host="mysql-1b41bca7-trabajosdedanielalejandro-fb88.l.aivencloud.com",
  password="AVNS_wsne_MGKpGw2WYscYlP",
  read_timeout=timeout,
  port=11072,
  user="avnadmin",
  write_timeout=timeout,
)

In [6]:


# Obtenemos un cursor que utilizaremos para hacer las queries
crsr = connection.cursor()

In [7]:
# Con esta funci√≥n leemos los datos y lo pasamos a un DataFrame de Pandas
def sql_query(query):

    # Ejecuta la query
    crsr.execute(query)

    # Almacena los datos de la query 
    ans = crsr.fetchall()

    # Obtenemos los nombres de las columnas de la tabla
    names = [description[0] for description in crsr.description]

    return pd.DataFrame(ans,columns=names)

In [20]:
query = '''SELECT * FROM mytest;'''

In [21]:
df = sql_query(query)

In [22]:
df

   id
0   1
1   2

In [19]:
query = '''INSERT INTO mytest VALUES (2)'''

crsr.execute(query)

1

In [ ]:
connection.commit()